/* Styl dla body */
body {
    color: blue;
    font-size: 30pt;
}

/* Styl dla p */
p {
    color: green;
    font-size: 20pt;
}

/* Dodanie stylu, aby na przemian zmieniać kolory emotikonów */
p:nth-child(odd) {
    color: blue;
}

p:nth-child(even) {
    color: green;
}
